html

	head
		title New America Annual Report 2014
		meta(name='description', content="New America's annual report for 2014.")
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel="shortcut icon", type="image/x-icon", href='public/assets/images/favicon.ico')
		link(rel="stylesheet", type="text/css", href="public/assets/styles/site.css")

	body

		div(id="wrapper", class="wrapper")

		script(src="public/assets/scripts/bundle.js")
		script.
			window.startAnnualReport();