h1, p, a {
	color: #fffaef;
	text-align: left;
}

h1 {
	font-family: 'SimplonNorm-Bold-WebS';
	@include font-size(22px);
}

p, a {
	@include font-size(17px);
	@include bp-w-md {
		font-size: 22px;
	}
	
	line-height: 145%;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #fffaef;
	opacity: 0.8;
	&:hover { opacity: 1; }
}

b, p > b, a > b, b > a, b > p {
	font-weight: 400;
	font-family: 'SimplonNorm-Bold-WebS';
}