h1, p, a {
	color: #fffaef;
	text-align: left;
}

h1 {
	font-family: 'SimplonNorm-Bold-WebS';
	font-size: 22px;
}

p, a {
	font-size: 22px;
}

a {
	text-decoration: none;
	opacity: 0.8;
	&:hover { opacity: 1; }
}